option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_VERSION: 1.0.0
    EXTERNAL_SERVICE_NAME: DynamoDB
    DYNAMODB_TABLE_NAME: bem12-visits
    DYNAMODB_REGION: us-east-1
    JAVA_OPTS: -Xmx256m -Xms128m

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7

packages:
  yum:
    curl: []
    wget: []
